<div class="hero">
  <div class="row">
    <div class="left-sec">
      <div class="content">
        <h2><span>Book </span><br>a Drive<span>.</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id consectetur explicabo enim dolorem, dolor vero
          qui suscipit rerum natus minus quaerat aperiam sapiente eos.
        </p>
      </div>
      <button class="discover-btn">
        <a [routerLink]="['/book']">Book a test drive</a><span><i class="fal fa-arrow-circle-right"></i></span>
      </button>
    </div>
    <div class="right-sec">
      <div class="my-car">
        <div><img
            src="https://crdms.images.consumerreports.org/c_lfill,w_720,q_auto,f_auto/prod/cars/cr/model-years/12013-2021-bmw-4-series"
            alt=""></div>
      </div>
    </div>
  </div>
</div>