<div class="container">
  <div id="login">
    <div id="card">
      <img src="../../../assets/book-it-logo.jpg" height="50px;"
        style="display: block; margin-left: auto; margin-right: auto; width: 50%" />
      <h1 style="margin-bottom: 20px;margin-top: 20px; text-align: center;">Login</h1>
      <form [formGroup]="userLoginForm">
        <div>
          <span class="mat-body-1 headings">Email</span>
          <input type="email" required formControlName="email" [ngClass]="{
              'is-invalid':
                (isFormSubmitted && userLoginForm.controls.email.errors) ||
                (!userLoginForm.controls.email.pristine &&
                  userLoginForm.controls.email.invalid)
            }" />
          <!-- Validation messages -->
          <div class="invalid-feedback" *ngIf="
              (isFormSubmitted && userLoginForm.controls.email.errors) ||
              (!userLoginForm.controls.email.pristine &&
                userLoginForm.controls.email.invalid)
            ">
            <div *ngIf="userLoginForm.controls.email.errors.required">
              Email is required
            </div>
            <div *ngIf="userLoginForm.controls.email.errors.pattern">
              Enter valid email
            </div>
          </div>
        </div>
        <div>
          <span class="mat-body-1 headings">Password</span>
          <input type="password" required formControlName="password" [ngClass]="{
              'is-invalid':
                (isFormSubmitted && userLoginForm.controls.password.errors) ||
                (!userLoginForm.controls.password.pristine &&
                  userLoginForm.controls.password.invalid)
            }" />
          <div class="invalid-feedback" *ngIf="
              (isFormSubmitted && userLoginForm.controls.password.errors) ||
              (!userLoginForm.controls.password.pristine &&
                userLoginForm.controls.password.invalid)
            ">
            <div *ngIf="userLoginForm.controls.password.errors.required">
              Password is required
            </div>
            <div *ngIf="userLoginForm.controls.password.errors.minlength">
              Minimum 8 characters required
            </div>
          </div>
        </div>
        <div>
          <a [routerLink]="['/register']" style="text-decoration:none">Register</a>
        </div>
        <a (click)="submit()" class="btn">Sign In</a>
        <a style="text-align: center; text-decoration:none" [routerLink]="['/']">Home</a>
      </form>
    </div>
  </div>

</div>